body{
  background-color: #363636;
}

h1{
  color: white;
}

ul{
  padding: 0;

  li{
    color: white;
    list-style: none;

    display: flex;
    align-items: center;    
  }

  input[type="checkbox"]{
    cursor: pointer;
  }

  span{
    padding: 10px 20px 10px 10px;
  }

  strike{
    padding: 10px 20px 10px 10px;
  }

  button{
    cursor: pointer;
  }

}

